# AniLiberty (аниме) — публичный API, ключ не требуется
NEXT_PUBLIC_ANILIBERTY_BASE=https://anilibria.top/api/v1

# Kodik (дорамы) — токен доступа к API
KODIK_API_TOKEN=05a3a615d92146530e90e00a3253d337
NEXT_PUBLIC_KODIK_BASE=https://kodikapi.com

# MangaDex (манга) — публичный API, ключ не требуется
NEXT_PUBLIC_MANGADEX_BASE=https://api.mangadex.org
NEXT_PUBLIC_MANGADEX_UPLOADS=https://uploads.mangadex.org
